In [ ]:
#reading the first dataset
import pandas as pd

dataset = pd.read_csv('healthcare_dataset.csv')
dataset.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal

In [ ]:
#number of features
len(dataset.columns)

15

In [ ]:
#blood types
dataset['Blood Type'].unique()

array(['B-', 'A+', 'A-', 'O+', 'AB+', 'AB-', 'B+', 'O-'], dtype=object)

In [ ]:
#most frequent blood type
dataset['Blood Type'].mode() #or: dataset['Blood Type'].value_counts().idxmax()

0    A-
Name: Blood Type, dtype: object

In [ ]:
#rarest blood type
dataset['Blood Type'].value_counts().idxmin()

'O-'

In [ ]:
#medical conditions
len(dataset['Medical Condition'].unique())

6

In [ ]:
#youngest patient
youngest = dataset[dataset['Age'] == dataset['Age'].min()]
print('The name of the youngest patient is: ', youngest['Name'].iloc[0],
      '\nand his age is ', dataset['Age'].min())

The name of the youngest patient is:  jamES BasS phD
and his age is  13

In [ ]:
#oldest patient
youngest = dataset[dataset['Age'] == dataset['Age'].max()]
print('The name of the oldest patient is: ', youngest['Name'].iloc[0],
      '\nand his age is ', dataset['Age'].max())

The name of the oldest patient is:  DAVId NeWTOn
and his age is  89

In [ ]:
#average billing amount
dataset['Billing Amount'].mean()

25539.316097211795

In [ ]:
#total billing amount across all patients
dataset['Billing Amount'].sum()

1417432043.3952546

In [ ]:
#reading the second dataset
import pandas as pd

dataset2 = pd.read_csv('Salaries.csv')
dataset2.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [ ]:
#columns between the 2nd and 8th columns, and rows from 1 to 1000
dataset2.iloc[1:1001, 1:9] #note: I included the 2nd and 8th cloumns(from column 2 to 8)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19
5,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74
...,...,...,...,...,...,...,...,...
996,KATHERINE MAH,CLINICAL NURSE SPECIALIST,169572.06,0.00,250.00,NaN,169822.06,169822.06
997,CHRISTINE DAVENPORT,CLINICAL NURSE SPECIALIST,169572.05,0.00,250.00,NaN,169822.05,169822.05
998,ANNE HUGHES,CLINICAL NURSE SPECIALIST,169572.01,0.00,250.00,NaN,169822.01,169822.01
999,JOHN FAZIO,CLINICAL NURSE SPECIALIST,169572.00,0.00,250.00,NaN,169822.00,169822.00
1000,ROBERT KUZMA,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.84,8577.69,20692.86,NaN,169817.39,169817.39

In [ ]:
#number of missing values for each feature
dataset2.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                609
OvertimePay              4
OtherPay                 4
Benefits             36163
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              148654
dtype: int64

In [ ]:
#total count of the missing values in the dataset
dataset2.isnull().sum().sum()

334088

In [ ]:
#median value for the "basepay" feature
dataset2['BasePay'].median()

65007.45